
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..\stylesheets\viewalldetails.css">
</head>
 <body background="images/marble.jpg">
       <ul class="movies">
           <% productdetails.forEach(function(productdetail) { %>


            <div class="col-lg-4 col-md-6 mb-5">
                    <div class="product-item">
                      <figure>
                        <img src="images/model_2_bg.jpg" alt="Image" class="img-fluid">
                      </figure>
                      <div class="px-4">
                        <h3><a href="#"><%= productdetail.name %></a></h3>
                        <div class="mb-3">
                            </div>
                        <p class="mb-4">Description</p>
                        <div>
                          <a href="'/productdetail/<%= productdetail._id%>'" class="btn btn-black mr-1 rounded-0">View Details</a>
                          <!-- <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
            
                    <div>
            <span>  </span>
           <a href=>View Details</a>
            
            </div>
            
            <% }) %>
       </ul>
    
</body>
</html>