
#movie {
    display: grid;
    margin: 30px auto;
    width: 30%;
}

input {
    margin: 10px;
    height: 40px;
}

textarea {
    margin: 10px;
    height: 160px;
}

textarea {
    margin: 10px;
    height: 160px;
}
input[type=button] {
    background: #4d4dff;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    border: 0px solid;
    padding-left: 20px;
    padding-right: 20px;
}

input[type=button]:hover {
    background: #390db1;
}
@media(max-width: 900px) {
    form {
        width: 70%;
    }
}

@media(max-width: 550px) {
    form {
        width: 90%;
    }
}